// button cta 
.cta {
    padding: 3.5rem;
    text-align: center;

    &__book-now {
        font-size: 2rem;
        font-weight: 300;
        text-transform: uppercase;
        margin-bottom: 2.5rem;
    }

    .btn {
        position: relative;
        overflow: hidden;
        font-size: 1.5rem;
        font-weight: 300;
        text-transform: uppercase;
        border-radius: 10rem;
        border: none;
        color: #fff;
        background-color: var(--color-primary);
        opacity: 0.8;

        &>* {
            display: inline-block;
            height: 100%;
            width: 100%;
            transition: all .2s;
        }

        &-visible {
            padding: 2rem 7.5rem;
        }

        &-hidden {
            position: absolute;
            left: 0;
            top: -100%;
            padding: 2rem 0;
        }

        &:hover {
            background-color: var(--color-primary);
            opacity: 1;
        }

        &:hover .btn-visible {
            transform: translateY(100%);
        }

        &:hover .btn-hidden {
            top: 0;
        }

        &:focus {
            outline: none;
            animation: pulsate 1s infinite;
        }


    }
}